@page
@model Paqueteria.Pages.Incidencias.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Incidencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Incidencia.IncidenciaID" />
            <div class="form-group">
                <label asp-for="Incidencia.NombreIc" class="control-label"></label>
                <input asp-for="Incidencia.NombreIc" class="form-control" />
                <span asp-validation-for="Incidencia.NombreIc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incidencia.DescripcionIc" class="control-label"></label>
                <input asp-for="Incidencia.DescripcionIc" class="form-control" />
                <span asp-validation-for="Incidencia.DescripcionIc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incidencia.PaqueteID" class="control-label"></label>
                <select asp-for="Incidencia.PaqueteID" class="form-control" asp-items="ViewBag.PaqueteID"></select>
                <span asp-validation-for="Incidencia.PaqueteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incidencia.StartDate" class="control-label"></label>
                <input asp-for="Incidencia.StartDate" class="form-control" />
                <span asp-validation-for="Incidencia.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incidencia.FinaltDate" class="control-label"></label>
                <input asp-for="Incidencia.FinaltDate" class="form-control" />
                <span asp-validation-for="Incidencia.FinaltDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incidencia.EstadoID" class="control-label"></label>
                <select asp-for="Incidencia.EstadoID" class="form-control" asp-items="ViewBag.EstadoID"></select>
                <span asp-validation-for="Incidencia.EstadoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
